* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #303030;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
  border-bottom: 1px solid #e5e5e5;
}

header .logo {
  height: 41px;
  width: 41px;
  background: url(/images/icons/logo.jpg) center center/contain no-repeat;
}

header a {
  color: #303030;
  text-decoration: none;
  font-size: 15px;
}

header nav {
  width: 65%;
}

header nav a {
  margin-right: 30px;
}

header .basket {
  position: relative;
}

header .basket::before {
  content: '';
  position: absolute;
  left: -29px;
  height: 30px;
  width: 30px;
  top: -4px;
  background: url(/images/icons/basket.png) center center/contain no-repeat;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container-left h1 {
  font-size: 14px;
  color: #303030;
  text-transform: uppercase;
  line-height: 2.5;
  text-align: left;
  font-weight: 600;
}

footer .container-left nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 18px;
  text-decoration: none;
}

footer .container-left nav a {
  text-decoration: none;
  font-size: 12px;
  color: #303030;
  line-height: 1.917;
  text-align: left;
}

footer .container-center {
  position: relative;
}

footer .container-center::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  height: 159px;
  left: 190px;
  border-left: 1px solid #eaeaea;
}

footer .container-center::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  height: 159px;
  right: 182px;
  border-left: 1px solid #eaeaea;
}

footer .container-center h1 {
  font-size: 14px;
  color: #303030;
  text-transform: uppercase;
  line-height: 2.5;
  text-align: left;
  font-weight: 600;
}

footer .container-center nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 18px;
  text-decoration: none;
  margin-top: 20px;
}

footer .container-center nav a {
  text-decoration: none;
  font-size: 12px;
  color: #303030;
  line-height: 1.917;
  text-align: left;
}

footer .container-right h1 {
  font-size: 14px;
  color: #303030;
  text-transform: uppercase;
  line-height: 2.5;
  text-align: left;
  font-weight: 600;
  margin-bottom: 18px;
}

footer .container-right p {
  font-size: 12px;
  color: #303030;
  line-height: 1.917;
  text-align: left;
}

footer .container-right-sociall ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  list-style: none;
  text-align: center;
}

footer .container-right-sociall ul li {
  padding-right: .3em;
  padding-bottom: .3em;
}

footer .container-right-sociall ul li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-decoration: none;
  color: #424446;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #3a3b3b;
}

footer .container-right-sociall ul li a i {
  width: 15px;
  height: 17px;
  font: normal;
}
/*# sourceMappingURL=style.css.map */